*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box;

    }
       .hero{
       width: 100%;
       height:100vh;
       background-image: linear-gradient(rgba(34, 31, 33, 0.4), #0e72f5), url(trad.jpg);
       background-position: center;
       background-size: cover;
       display: flex;
       align-items: center;
       justify-content: center;

       }

       form{
       width: 90%;
       max-width:600px;
       
       }

       .input-groups{
       margin-bottom: 30px;
       position: relative;
       }

     input,textarea{
       width: 100%;
       padding: 15px;
       outline:0;
       border: 1px solid rgb(247, 244, 244);
       color: rgb(244, 244, 6);
       background: transparent;
       font-size: 15px;
       }

      label{
      height: 100%;
      position: absolute;
      left:0;
      top: 0;
      padding: 10px:
      color: #fff;
      cursor: text;
      /* align-text: center; */
      }

      button{
      padding:10px 0;
      color: #fff;
      outline: none;
      background: transparent;
      border: 1px solid #fff;
      width: 100%;
      cursor: pointer;
      }
     
      input:focus~label,
      input:valid~label,
      textarea:focus~label,
      textarea:valid~label{
       top: -19px;
       font-size: 13px;
      }
      
      .row{
       display: flex;
       align-items: center;
       justify-content:space-between;
      }

      .row .input-groups{
       flex-basis: 48%;
      }